#forecastDisplay{
    width: 1080px;
    margin: 0 auto;
    background-color: yellow;
    padding: 20px 20px 60px 20px;
}

#searchTool{
    max-width: 400px;
    margin: 0 auto;
}

input#searchPlace {
    max-width: 60px;
}

h3{
    margin-top: 20px;
    border-top: 1px solid grey;
    padding-top: 20px;
}

.CityTemp{
    background-color: #252525;
    color: white;
    padding: 10px;
}

.TempMain{
    font-size: 4rem;
}

.TempCelc{
    background-color: yellow;
    color: #000;
    padding: 5px;
    border-radius: 20px;
    font-size: .8rem;
}

#Forecast{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.WeatherDescription{
    background-color: #e0e0e0;
    padding: 10px;
    font-size: 1.2rem;
}

.Wind{
    background-color: white;
    padding: 10px;
}

.WindMain{
    font-size: 3rem;
    color: #252525;
}

.WindDirection{
    background-color: #252525;
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    font-size: .8rem;
}